@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
html, body, p, li, ul, h1{
  margin: 0;
  padding: 0;
}

.main-container{
  width: 100%;
  height: 100vh;
  background: #2B4447;
  float: left;
}

.main-container-two{
  width: 100%;
  height: 90vh;
  background: #ECE8DF;
  float: left;
}

.sign-container{
  width: 1203px;
  height: 100vh;
  margin-left: 115px;
  border-radius: 15px;
  background-color: #ECE8DF;
  float: left;
}

.left{
  width: 602px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-color: transparent;
  margin-left: 50px;
  float: left;
}

.sign-logo{
  width: 50.45px;
  height: 47.09px;
  margin-top: 96px;
  margin-left: 110px;
  background-color:  #2B2B2B;;
  /* background-image: url("../src/Assets/Logo.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.sign-logo:hover{
  /* background-image: url("../src/Assets/Logo\ Hover.png"); */

  float: left;
}

.oilixate{
  font-family: 'Inter';
  font-weight: 400;
  color: #2B4447;
  font-size: 13px;
  margin-top: 110px;
  margin-left: 5.55px;
  float: left;
}

.right{
  width: 602px;
  height: 100vh;
  margin-left: 601px;
  margin-top: -100vh;
  background: #E6B27E;
  border-radius: 0px 15px 15px 0px;
  /* background-image: url("../src/Assets/right.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.login-text{
  margin-top: 197px;
  margin-left: -110px;
  font-family: 'Inter';
  color: #2B4447;
  font-weight: 400;
  font-size: 33px;
  float: left;
}

.welcome-login-text{
  margin-top: 250px;
  margin-left: -110px;
  color: #2B4447;
  font-family: 'Inter';
  font-weight: 300;
  float: left;
}


.email-text{
  margin-top: 300px;
  margin-left: -300px;
  color: #EBA182;
  font-family: 'Inter';
  font-weight: 300;
  float: left;
}

.password-text{
  margin-top: 25px;
  margin-left: 101px;
  color: #EBA182;
  font-family: 'Inter';
  font-weight: 300;
  float: left;
}

.email-input{
  width: 301px;
  height: 35px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 60px;
  margin-left: 100px;
  float: left;
}

.password-input{
  width: 301px;
  height: 35px;
  /* outline-style: none; */
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-left: 4%;
  margin-top: 10px;
  margin-left: 100px;
  float: left;
}

.check-box{
  width: 12px;
  height: 12px;
  margin-left: -320px;
  margin-top: 70px;
  background-color: white;
  float: left;
}

.remember-me-text{
  font-size: 12px;
  font-family: 'Inter';
  color: #2B4447;
  letter-spacing: -0.042em;
  font-weight: 400;
  margin-left: -300px;
  margin-top: 70px;
  float: left;
}

.forgot-password-text{
  margin-top: 70px;
  margin-left: -115px;
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 400;
  color: #2B4447;
  float: left;
}

.signIn-btn-container{
  width: 301px;
  height: 39px;
  margin-left: 113px;
  margin-top: 60px;
  border-radius: 9px;
  background: #2B4447;
  float: left;
}

.signIn-btn-container:hover{
  background-color: #EBA182;
  cursor: pointer;
}

.signIn-btn-text{
  font-size: 15px;
  font-family: 'Inter';
  font-weight: 300;
  margin-left: 130px;
  margin-top: 11px;
  color: white;
  float: left; 
}

.no-account-text{
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  margin-top: 15px;
  margin-left: 160px;
  float: left;
}

.SignIn-Google-btn{
  width: 301px;
  height: 39px;
  border: 1px solid grey;
  background-color: white;
  margin-left: 113px;
  margin-top: 14px;
  background-image: url("../src/assets/Google.png");
  background-repeat: no-repeat;
  background-position: 75px;
  background-size: 22px 22px;
  border-radius: 9px;
  float: left;
}

.Sign-Google-text{
  font-family: 'Inter';
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.006em;
  margin-left: 27px;
  margin-top: 12px;
}

/* Nav Bar */
.label-container{
  width: 509px;
  height: 24px;
  margin-left: 586px;
  margin-top: 42px;
  background: transparent;
  float: left;
}

.home-label{
  font-family: 'Inter';
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  float: left;
}

.home-label:hover{
  color: white;
}

.products-label{
  font-family: 'Inter';
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  margin-left: 71px;
  float: left;
}

.products-label:hover{
 color: white;
}

.checkout-label{
  font-family: 'Inter';
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  margin-left: 71px;
  float: left;
}

.checkout-label:hover{
  color: white;
}

.admin-label{
  font-family: 'Inter';
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  margin-left: 71px;
  float: left;
}

.admin-label:hover{
 color: white;
}

.dash-logo{
  width: 80px;
  height: 80px;
  background:#2B2B2B;
  border-radius: 100%;
  margin-top: 79px;
  margin-left: 56px;
}

.slider-container{
  width: 1107px;
  /* height: 693px; image slider touch the bottom of screen*/ 
  height: 670px;
  background: #2B2B2B;
  margin-top: -63px;
  margin-left: 130px;
  float: left;
}

.slider-index{
  width: 2px;
  height: 358px;
  background: #000000;
  margin-left: 95px;
  margin-top: 114px;
  float: left;
}

.index-active{
  width: 2px;
  height: 116px;
  background: #E6B27E;
  float: left;
}

.index-inactive{
  width: 2px;
  height: 116px;
  margin-top: 5px;
  background: #ECE8DF;
  float: left;
}

.oilixate-heading{
  font-family: 'Inter';
  margin-top: 269px;
  margin-left: -205px;
  font-weight: 400;
  font-size: 140px;
  color: #DAEFDE;
}

.welcome-text{
  width: 507px;
  text-align: left;
  margin-left: -78px;
  margin-top: 37px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 22px;
  color: #ECE8DF;
  float: left;
}

.more-text{
  font-family: 'Inter';
  margin-top: 174px;
  margin-left: -507px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4em;
  color: #EBA182;
  float: left;
}

.text-content{
  width: 529px;
  height: 413px;
  margin-top: -10px;
  background: transparent;
  float: left;
}

.right-arrow{
  width: 41px;
  height: 12.99px;
  margin-top: 180px;
  margin-left: 35px;
  background-image: url("../src/assets/RightArrow.svg");

}

/* Nav-Bar */
.nav-bar{
  width: 100%;
  height: 82px;
  background: #2B4447;
  float: left;
}

.nav-logo{
  width: 80px;
  height: 80px;
  margin-top: 27px;
  margin-left: 31px;
  background: grey;
  border-radius: 100%;
  float: left;
}

.nav-home{
  font-family: 'Inter';
  margin-top: 40px;
  margin-left: 324px;
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  float: left;
}

.nav-home:hover{
  color: #FFFFFF;
}

.nav-product{
  font-family: 'Inter';
  margin-top: 40px;
  margin-left: 71px;
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  float: left;
}

.nav-product:hover{
  color: #FFFFFF;
}

.nav-checkout{
  font-family: 'Inter';
  margin-top: 40px;
  margin-left: 71px;
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  float: left;
}

.nav-checkout:hover{
  color: #FFFFFF;
}

.nav-admin{
  font-family: 'Inter';
  margin-top: 40px;
  margin-left: 71px;
  font-weight: 300;
  color: #DAEFDE;
  font-size: 20px;
  float: left;
}

.nav-admin:hover{
  color: #FFFFFF;
}

.search-box{
  width: 225px;
  height: 43px;
  margin-top: 29px;
  margin-left: 91px;
  padding-left: 1%;
  background: #ECE8DF;
  border: 1px solid #000000;
  border-radius: 8px;
  float: left;
}

::placeholder{
  color: #000000;
}

.search-btn{
  border-style: none;
  width: 36px;
  height: 35px;
  margin-top: 35px;
  margin-left: -41px;
  background: #EBA182;
  border-radius: 5px;
  background-image: url("../src/assets/Search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 21px;
  float: left;
}

.shopping-cart-modal{
  width: 35px;
  height: 35px;
  margin-top: 33px;
  margin-left: 74px;
  background: #ECE8DF;
  background-image: url("../src/assets/Trolley.svg");
  background-repeat: no-repeat;
  background-position: 7px 10px;
  background-size: 20px 20px;
  border-radius: 6px;
  float: left;
}

.numb-items{
  width: 16px;
  height: 16px;
  margin-top: 25px;
  margin-left: -10px;
  background:#EBA182;
  border-radius: 100%;
  float: left; 
}

.one-item{
  font-family: 'Inter';
  font-weight: 400;
  margin-left: 1px;
  margin-top: 2px;
  font-size: 10px;
  color: #000000;
}

.hor-line{
  width: 84px;
  height: 8px;
  margin-top: 98px;
  margin-left: 134px;
  background: #EBA182;
  float: left;
}

.main-container-two{
  z-index: 0;
}

.product-info-container-left{
  width: 483px;
  height: 530px;
  margin-top: 123px;
  margin-left: 128px;
  background: #D9D9D9;
  background: #D9D9D9;
  opacity: 0.4;

}

.product-info-row-one{
  width: 482px;
  height: 216px;
  background: red;
  opacity: 0.9;
}

.product-one{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  color: #000000;
  float: left;
}

.product-price{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 29px;
  margin-top: 71px;
  margin-left: -240px;
  color: #000000;
  float: left;
}

.product-details{
  font-family: 'Inter';
  width: 490px;
  height: 83px;
  margin-top: 65px;
  margin-left: -5px;
  font-weight: 400;
  font-size: 13px;
  float: left;
}

.bought-with-text{
  font-family: 'Inter';
  font-weight: 600;
  margin-top: 52px;
  font-size: 15px;
  color: #000000;
  float: left;
}

/* Product Two */
.product-two-container{
  width: 84px;
  height: 112px;
  margin-top: 105px;
  margin-left: -145px;
  background: rgba(158, 158, 158, 0.4);
  float: left;
}

.product-two-img{
  width: 84px;
  height: 84px;
  background: #D9D9D9;
  border-radius: 100%;
  float: left;
}

.product-two-name{
  font-family: 'Inter';
  margin-top: 10px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
  float: left;
}

/* Product Three */
.product-three-container{
  width: 84px;
  height: 112px;
  margin-top: 105px;
  margin-left: -15px;
  background: rgba(158, 158, 158, 0.4);
  float: left;
}

.product-three-img{
  width: 84px;
  height: 84px;
  background: #D9D9D9;
  border-radius: 100%;
  float: left;
}

.product-three-name{
  font-family: 'Inter';
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  float: left;
}

/* Product Four */
.product-four-container{
  width: 84px;
  height: 112px;
  margin-top: 105px;
  margin-left: 45px;
  background: rgba(158, 158, 158, 0.4);
  float: left;
}

.product-four-img{
  width: 84px;
  height: 84px;
  background: #D9D9D9;
  border-radius: 100%;
  float: left;
}

.product-four-name{
  font-family: 'Inter';
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  float: left;
}

